<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Facebook Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF9604681DB0751900AD6504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF96047C1DB0751900AD6504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF9604871DB0751900AD6504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
